*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.heading-1{
    font-size: 10px;
    margin-bottom: 30px;
}

.numbers-1{
    margin-top: 70px;
    margin-bottom: 40px;
    text-align: center;
    align-items: center;
    font-size: 42px;
}

.percentage-1{
    font-size: 30px;
    text-align: right;
    color: red;
    margin: none;
}